<html>
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<div th:each="pedido : ${pedidos}">
			<div th:text="${pedido.nomeProduto}">Produto</div>
			<div>Valor: <span th:text="${pedido.valorNegociado}">209.99</span></div>
			<div>data de entrega<span th:text="${pedido.dataEntrega}">10/02/2020</span></div>
			
			<div>Produto</div>
			<div><input value="URL do produto"></div>
			
			<div>Descrição</div>
			<div>
				<textarea th:text="${pedido.descricao}">Descrição do produto</textarea>
			</div>
			<div>
				<img th:src="${pedido.urlImagem}"/>
			</div>
		</div>
	</body>
</html>